body{
    background: white;
}

img{
    width: 400px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    display:block;
    box-shadow: 5px 5px 0px rgba(133, 132, 132, 0.917);
    padding: 10px;
    border:1px solid black
}

div{
    background: tan;
    width: 800px;
    height: auto;
    
   
}